.features{
    background-color:hsl(220, 16%, 96%);
    text-align: center;

    @include breakpoint-up(large){
        text-align: left;
        min-width: 100vw;
    }


    .head{
        margin-top: 5.3125rem;
        font-weight: 300;
        
        line-height: 1.1;
        font-size: 1.875rem;
        margin-bottom: 1.5rem;

        @include breakpoint-up(large){
            font-size:2.25rem;
        }
    }

    &__text{
        
        color:hsl(233, 8%, 62%);
        font-weight: 300;
        font-size:1rem;
        line-height: 1.3;
        margin-bottom:3.4375rem;
        
        @include breakpoint-up(large){
            width:38.375rem;
            margin-bottom:4rem;
        }
        
        
    }

    .container{
        .grid{
            @include breakpoint-up(large){
                display:inline-flex;
                
                gap:1.875rem;
                
            }
        }
    }

    

    .square{
        margin-bottom:1.75rem;

        h3{
            margin-bottom: 1.75rem;
            font-weight: 400;
            font-size:1.25rem;
            @include breakpoint-up(large){
                margin-bottom: 4rem;
            }
            }
        

        &__text{
        color:hsl(233, 8%, 62%);
        font-weight: 300;
        font-size:1rem;
        line-height: 1.3;
        
        }
    }

    .icon{
        margin-bottom: 1.75rem;
        @include breakpoint-up(large){
            margin-bottom: 4rem;
        }
    }
}