.footer {
  background-color: #2d314d;
  text-align: center;
}

.footer__imgg {
  margin-bottom: 1.5625rem;
}

.footer__social {
  margin-bottom: 0.75rem;
}

.footer__social .socials:not(:last-child) {
  margin-right: 0.75rem;
}

.footer__links a {
  margin-top: 1.25rem;
  display: block;
  text-decoration: none;
  color: #fafafa;
  font-weight: 300;
  font-size: 1rem;
}

.footer__cta .button {
  margin-top: 1.875rem;
}

.footer__cta .copyright {
  color: #9698a6;
  margin-top: 1.875rem;
}
