.hero__images {
  background-image: url("/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
  position: relative;
}

.hero__images::before {
  background-image: url("/images/image-mockups.png");
  content: "";
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  background-size: 93%;
  position: absolute;
  margin: auto;
}

.hero__texts {
  text-align: center;
}

.hero__texts h1 {
  font-size: 2.31em;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 1.875rem;
}

.hero__texts .normal {
  color: #9698a6;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1.875rem;
  padding: 0px;
}

.hero__texts .button {
  margin-bottom: 5.3125rem;
}
