header .overlay {
  background-image: linear-gradient(#2d314d, transparent);
  position: fixed;
  top: 5rem;
  left: 0px;
  right: 0px;
  bottom: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

header .overlay .linkList {
  z-index: 3;
  align-items: center;
  margin: 1.56rem 1.25rem;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

header .overlay .linkList a {
  display: block;
  text-align: center;
  padding: 17.5px;
  text-decoration: none;
  color: black;
}

header .navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

header .navi__logo {
  margin-bottom: 0;
  padding-bottom: 0;
  height: 20px;
}

header .navi__links a {
  color: #9698a6;
  text-decoration: none;
  margin-right: 2rem;
  position: relative;
  transition: color 200ms ease-in-out;
}

header .navi__links a::before {
  content: "";
  display: inline-block;
  width: 100%;
  top: 240%;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 200ms ease-in-out;
  height: 3px;
  background: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
}

header .navi__links a:hover {
  color: black;
}

header .navi__links a:hover:before {
  opacity: 1;
}

header .navi__hamburger {
  cursor: pointer;
}

header .navi__hamburger span {
  display: block;
  height: 2px;
  background-color: black;
  width: 1.625rem;
  transition: all 200ms ease-in-out;
  transform-origin: 3px 1px;
}

header .navi__hamburger span:not(:last-child) {
  margin-bottom: 5px;
}

header .navi__hamburger.open span:first-child {
  transform: rotateZ(45deg);
}

header .navi__hamburger.open span:nth-child(2) {
  opacity: 0;
}

header .navi__hamburger.open span:last-child {
  transform: rotateZ(-45deg);
}
